DJANGO_DEBUG=1

# PostgreSQL
DATABASE_URL="postgres://sodar_django_site:sodar_django_site@127.0.0.1/sodar_django_site"

# Domain name, used by caddy
DOMAIN_NAME=example.com

# General settings
DJANGO_READ_DOT_ENV_FILE=1
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=CHANGE_ME!!!
# DJANGO_ALLOWED_HOSTS=*

# Used with email
EMAIL_SENDER=CHANGE_ME@example.com
EMAIL_URL=smtp://CHANGE_ME.example.com
EMAIL_SUBJECT_PREFIX=[Your SODAR Django Site]

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=0

# LDAP settings
ENABLE_LDAP=0
AUTH_LDAP_SERVER_URI=
AUTH_LDAP_BIND_PASSWORD=
AUTH_LDAP_BIND_DN=
AUTH_LDAP_USER_SEARCH_BASE=
AUTH_LDAP_USERNAME_DOMAIN=
AUTH_LDAP_DOMAIN_PRINTABLE=

ENABLE_LDAP_SECONDARY=0
AUTH_LDAP2_SERVER_URI=
AUTH_LDAP2_BIND_PASSWORD=
AUTH_LDAP2_BIND_DN=
AUTH_LDAP2_USER_SEARCH_BASE=
AUTH_LDAP2_USERNAME_DOMAIN=
AUTH_LDAP2_DOMAIN_PRINTABLE=

# Projectroles settings
# NOTE: These settings are for a TARGET site
# NOTE: Make sure PROJECTROLES_ADMIN_OWNER is set to your local admin username
PROJECTROLES_SEND_EMAIL=1
PROJECTROLES_SITE_MODE=TARGET
PROJECTROLES_TARGET_CREATE=1
PROJECTROLES_ADMIN_OWNER=admin
