{% extends "projectroles/project_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item">
    <a href="{% url 'barcodes:barcodeset-list' project=project.sodar_uuid %}">Barcode Set</a>
  </li>
  {% if object.pk %}
    <li class="breadcrumb-item">
      <a href="{% url 'barcodes:barcodeset-detail' project=project.sodar_uuid barcodeset=object.sodar_uuid %}">
        {{ object.name }} ({{ object.short_name }})
      </a>
    </li>
    <li class="breadcrumb-item active">
      Update
    </li>
  {% else %}
    <li class="breadcrumb-item active">
      Create
    </li>
  {% endif %}
{% endblock %}

{% block title %}
  {% if object.pk %}
    Updating {{ object.name }} ({{ vendor.short_name }})
  {% else %}
    Create new Barcode Set in {{ project.title }}
  {% endif %}
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      {% if object.pk %}
        Update
      {% else %}
        Create
      {% endif %}
      Barcode Set
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="properties-tab" data-toggle="tab" href="#properties" aria-controls="properties" aria-selected="true">Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="barcodes-tab" data-toggle="tab" href="#barcodes" aria-controls="barcodes" aria-selected="true">Barcodes</a>
      </li>
    </ul>

    <form method="post">{% csrf_token %}
      <div class="tab-content border-left border-right border-bottom" id="flowcellTabContent">
        <div class="tab-pane show active" id="properties" role="tabpanel" aria-labelledby="properties-tab">
          <div class="row py-3">
            <div class="col">
              {% if object.pk %}
                <div class="form-group row">
                  <label class="form-control-label {{ form.helper.label_class }}">UUID</label>
                  <div class="{{ form.helper.field_class}}">
                    <input type="text" readonly class="form-control-plaintext" value="{{ object.sodar_uuid }}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="form-control-label {{ form.helper.label_class }}">Project</label>
                  <div class="{{ form.helper.field_class}}">
                    <input type="text" readonly class="form-control-plaintextt" value="{{ object.project.title }}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="form-control-label {{ form.helper.label_class }}">Created</label>
                  <div class="{{ form.helper.field_class}}">
                    <input type="text" readonly class="form-control-plaintext" value="{{ object.date_created }}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="form-control-label {{ form.helper.label_class }}">Last Update</label>
                  <div class="{{ form.helper.field_class}}">
                    <input type="text" readonly class="form-control-plaintext" value="{{ object.date_modified }}">
                  </div>
                </div>
              {% endif %}

              {% crispy form form.helper %}

              {% include "barcodes/_barcodeset_submit_buttons.html" %}
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="barcodes" role="tabpanel" aria-labelledby="barcodes-tab">
          <div class="row py-3">
            <div class="col">
              <p class="text-muted text-small">
                Enter the barcode names and sequences.
                In the case of paired indexing, enter the sequence of the second sequence as in &quot;Workflow A&quot;.
                That is, enter it as it has to be entered for MiSeq, HiSeq 2000, HiSeq 2500, or NovaSeq 6000.
                DigestiFlow will automatically use the index as entered or its reverse complement based on the properties of the sequencing machine used.
              </p>
              <p class="text-muted text-small">
                <i class="iconify" data-icon="mdi:information"></i>
                The <strong>context menu</strong> allows you to easily <strong>reverse-complement</strong> sequences.
              </p>

              <div class="row">
                <div id="grid-container" class="col-6 pl-0 pr-2" class="barcodeset-table-container">
                  <div id="barcodeSetEntryGrid"></div>
                </div>
                <div class="col-6">
                  <div id="preview" style="height:200x;">
                    <div style="height: 100%; width: 100%; overflow: auto;">
                      <h6>Action preview</h6>
                      <div id="id-action-preview"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col pt-3">
              {% include "barcodes/_barcodeset_submit_buttons.html" %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/vendor/sheetclip-0.2.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/handsontable.full.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">

  <script type="text/javascript" charset="utf-8">
    {% include "barcodes/_script_barcodeset_editor.js" %}
  </script>
{% endblock %}
