{# Projectroles dependency #}
{% load projectroles_common_tags %}

<tr class="sodar-ff-search-item" id="sodar-ff-search-item-{{ item.sodar_uuid }}">
  {# Name & link column #}
  <td>
    <div class="sodar-overflow-container">
      <a href="{{ item.get_absolute_url }}">
        {% autoescape off %}
          {% if item.project %}
            {% highlight_search_term item.name search_term %} ({% highlight_search_term item.short_name search_term %})
          {% else %}
            {% highlight_search_term item.name search_term %} ({% highlight_search_term item.sequence search_term %})
          {% endif %}
        {% endautoescape %}
      </a>
    </div>
  </td>
  <td>
    {% if item.barcode_set %}
      Barcode
    {% else %}
      Barcode Set
    {% endif %}
  </td>
  {# Project column #}
  <td>
    <div class="sodar-overflow-container">
      {% autoescape off %}
        {% if item.project %}
          <a href="{% url 'projectroles:detail' project=item.project.sodar_uuid %}">
            {{ item.project.title }}
          </a>
        {% else %}
          <a href="{% url 'projectroles:detail' project=item.barcode_set.project.sodar_uuid %}">
            {% highlight_search_term item.barcode_set.project.title search_term %}
          </a>
          /
          <a href="{% url 'barcodes:barcodeset-detail' project=item.barcode_set.project.sodar_uuid barcodeset=item.barcode_set.sodar_uuid %}">
            {% highlight_search_term item.barcode_set.name search_term %}
            ({% highlight_search_term item.barcode_set.short_name search_term %})
          </a>
        {% endif %}
      {% endautoescape %}
    </div>
  </td>
</tr>
