{% load flowcells %}

<table class="table table-striped sodar-card-table">
  <thead>
    {% include 'flowcells/_flowcell_table_header.html' %}
  </thead>
  <tbody>
    {% get_details_flowcells project as flowcells %}
    {% if flowcells.count > 0 %}
      {% for flowcell in flowcells %}
        {% include 'flowcells/_flowcell_item.html' with item=flowcell details_card_mode=True %}
      {% endfor %}
    {% else %}
        <tr>
          <td class="bg-faded font-italic text-center" colspan="7">No flow cells (yet)</td>
        </tr>
    {% endif %}
  </tbody>
</table>
