<dl>
  <dt>UUID</dt>
  <dd>{{ object.sodar_uuid }}</dd>

  <dt>Project</dt>
  <dd>{{ object.project.title }}</dd>

  <dt>Created</dt>
  <dd>{{ object.date_created }}</dd>

  <dt>Last Modified</dt>
  <dd>{{ object.date_modified }}</dd>

  <dt>Full Name</dt>
  <dd>{{ object.get_full_name }}</dd>

  <dt>Manual Label</dt>
  <dd>{{ object.manual_label|default:"-" }}</dd>

  <dt>Number of Lanes</dt>
  <dd>{{ object.num_lanes|default:"-" }}</dd>

  <dt>Operator</dt>
  <dd>{{ object.operator }}</dd>

  <dt>Demux Operator</dt>
  <dd>{{ object.demux_operator.name|default:"-" }}</dd>

  <dt>RTA Version</dt>
  <dd>{{ object.rta_version }}</dd>

  <dt>Status Sequencing</dt>
  <dd>{{ object.status_sequencing }}</dd>

  <dt>Status Conversion</dt>
  <dd>{{ object.status_conversion }}</dd>

  <dt>Status Delivery</dt>
  <dd>{{ object.status_delivery }}</dd>

  <dt>Delivery Type</dt>
  <dd>{{ object.status_delivery }}</dd>

  <dt>Planned Reads</dt>
  <dd>{{ object.planned_reads }}</dd>

  <dt>Current Reads</dt>
  <dd>{{ object.current_reads }}</dd>

  <dt>Barcode Mismatches</dt>
  <dd>{{ object.barcode_mismatches }}</dd>
</dl>
