{% load flowcells %}

{% if not object.index_histograms.all %}
  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    No index statistics found so far.
    Thus, we cannot compare sample sheet with real data.
    Thus, only sanity checks (e.g., unique names and adapters) will be performed.
  </div>
{% endif %}

<table class="table table-striped table-hover table-sm popover-form-container">
  <thead>
    <tr>
      <th style="width: 10px">#</th>
      <th style="width: 0px;"><i class="fa fa-fw fa-info-circle"></i></th>
      <th style="width: 0px;" data-toggle="tooltip" title="custom demultiplexing instructions"><i class="fa fa-fw fa-pencil"></i></th>
      <th style="width: 8em;">Name</th>
      <th style="width: 5em;">Reference</th>
      <th>Barcode Set #1</th>
      <th>Barcode #1</th>
      <th>Barcode Set #2</th>
      <th>Barcode #2</th>
      <th>Lanes</th>
    </tr>
  </thead>
  <tbody>
    {% if flowcell_libraries %}
      {% for item in flowcell_libraries %}
        {% include "flowcells/_library_item.html" %}
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="9" class="text-center text-muted">
          <i>No libraries (yet).</i>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
<!--

Index errors for debugging purposes:

get_index_errors: {{ object.get_index_errors }}

get_reverse_errors: {{ object.get_reverse_index_errors }}

-->
