{% load humanize %}
{% load flowcells %}
{% load projectroles_common_tags %}

{% count_barcode_reads object as num_barcodes %}

{% if num_barcodes > 0 %}
  <p>
    <em>
      <i class="fa fa-info-circle"></i>
      The index histogram statistics are computed from the flow cell's raw base calls.
      They can be used for sanity-checking your sample sheets.
      Moving your mouse over an adapter will highlight all adapters with at most one base difference.
    </em>
  </p>
{% endif %}

{% if object.index_histograms.all %}
  {% get_known_contaminations object as contaminations %}

  <table class="table table-striped table-hover table-sm index-histograms-table">
    <thead>
      <tr>
        <th style="width: 10px;">Lane</th>
        <th style="width: 10px;" class="text-nowrap">Index Read</th>
        <th>Frequencies</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in object.index_histograms.all %}
        <tr>
          <td class="text-center align-middle font-weight-bold text-nowrap">
            {% has_sheet_for_lane object entry.lane as sheet_for_lane %}
            {% get_lane_index_errors object entry.lane as lane_index_errors %}

            {% if not sheet_for_lane and entry.lane not in object.lanes_suppress_no_sample_sheet_warning %}
              <span class="text-warning" data-toggle="tooltip" title="No sample sheet information provided for lane">
                {{ entry.lane }}
                <i class="fa fa-exclamation-circle pl-1" title="Suppress Warning?"
                 data-popover-url="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=flowcell.sodar_uuid warning="no_sample_sheet" lanes=entry.lane %}?return_to=index-stats"></i>
              </span>
            {% elif lane_index_errors %}
              <span class="text-danger" data-toggle="tooltip" title="Indices found that have no corresponding entry in sample sheet">
                {{ entry.lane }}
                <i class="fa fa-exclamation-circle pl-1" title="Suppress Warning?"
                 data-popover-url="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=flowcell.sodar_uuid warning="no_sample_found_for_observed_index" lanes=entry.lane %}?return_to=index-stats"
                ></i>
              </span>
            {% elif entry.lane in object.lanes_suppress_no_sample_sheet_warning %}
              {{ entry.lane }}
              <span data-toggle="tooltip" title="The warning &quot;no sample sheet information for lane {{ entry.lane }}&quot; is being suppressed">
                <i class="fa fa-exclamation-circle pl-1 text-muted" title="Suppress Warning?"
                  data-popover-url="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=flowcell.sodar_uuid warning="no_sample_sheet" lanes=entry.lane %}?return_to=index-stats"
                ></i>
              </span>
            {% elif entry.lane in object.lanes_suppress_no_sample_found_for_observed_index_warning %}
              {{ entry.lane }}
              <span data-toggle="tooltip" title="The warning &quot;found an index adapter in BCLs without matching sample&quot; is being suppressed for lane {{ entry.lane }}">
                <i class="fa fa-exclamation-circle pl-1 text-muted" title="Suppress Warning?"
                  data-popover-url="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=flowcell.sodar_uuid warning="no_sample_found_for_observed_index" lanes=entry.lane %}?return_to=index-stats"
                ></i>
              </span>
            {% else %}
              {{ entry.lane }}
            {% endif %}
          </td>
          <td class="text-center align-middle font-weight-bold">
            {{ entry.index_read_no }}
          </td>
          <td>
            {% with entry.histogram.values|max as max_count %}
              {% for seq, count in entry.histogram.items|dictsortreversed:1 %}
                {% get_contamination contaminations seq as entry_contamination %}
                {% get_index_errors object entry.lane entry.index_read_no seq as index_errors %}
                {% get_adapter_siblings object seq as adapter_siblings %}
                <span class="histogram-entry">
                  <small>
                    <div class="hist-bar" data-toggle="tooltip" title="{{ count|intcomma }}/{{ entry.sample_size|intcomma }}">
                      <div class="hist-bar-filled" style="width: {{ count|divide:max_count|multiply:40 }}px;"></div>
                    </div>

                    {% if index_errors %}
                      <span class="text-danger" data-toggle="tooltip" title="{% for msg in index_errors %}{{ msg }}{% if not forloop.last %}, {% endif %}{% endfor %}">
                    {% elif entry_contamination %}
                      {% render_markdown entry_contamination.description as description %}
                      <span class="text-info" data-toggle="tooltip" data-html="true" title="Known contamination &quot;{{ entry_contamination.title }}&quot;: {{ description|striptags }}" data-html="true">
                    {% elif count|divide:entry.sample_size < 0.01 %}
                      <span class="text-muted" data-toggle="tooltip" data-html="true" title="Low frequency index: less than 1% of the reads show this index. Failure to find this index in the sample sheet is not an error.">
                    {% else %}
                      <span>
                    {% endif %}
                      <span class="adapter-seq-hover adapter-{{ seq }}" data-siblings="{{ adapter_siblings|join:" " }}">{{ seq }}</span>
                      ({{ count|divide:entry.sample_size|multiply:100|stringformat:".2f"|stringformat:"05s" }}%)
                    </span>
                  </small>
                </span>
              {% endfor %}
            {% endwith %}

            <small class="text-muted text-nowrap">
              Based on {{ entry.sample_size|intcomma }} sampled index reads, showing if above 0.1%.
            </small>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% elif num_barcodes > 0 %}
  <p class="text-center text-muted mb-0">
    No index statistics (yet).
  </p>
{% else %}
  <p class="text-center text-muted mb-0">
    No barcode reads for flow cell.
    We're not expecting any index statistics.
  </p>
{% endif %}

<style type="text/css">
  .histogram-entry {
    display: inline-block;
    font-family: monospace;
    white-space: no-wrap;
    padding-right: 2em;
  }

  .hist-bar {
    display: inline-block;
    width: 40px;
    height: 10px;
    background-color: #e0e0e0;
  }

  .hist-bar-filled {
    height: 10px;
    background-color: #0c6604;
  }

  .adapter-seq-hovered {
    text-decoration: underline;
    background-color: #ffe8a1;
    color: black;
  }
</style>

<script type="text/javascript">
  $(function () {
    $(".adapter-seq-hover").hover(
            function () {
              for (seq of $(this).data("siblings").split(" ")) {
                $(".adapter-" + seq).addClass("adapter-seq-hovered");
              }
            },
            function () {
              for (seq of $(this).data("siblings").split(" ")) {
                $(".adapter-" + seq).removeClass("adapter-seq-hovered");
              }
            }
    )
  })
</script>
