{% load crispy_forms_tags %}
{% load humanize %}

{# TODO: display non-draft message or message from user #}
<div class="row" id="messages-top">
  <div class="col px-0">
    {% if object.get_sent_messages %}
      {% for message in object.get_sent_messages %}
        {% include "flowcells/_message_item.html" %}
      {% endfor %}
    {% else %}
      <p class="text-center font-italic">
        No messages (yet).
      </p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col px-0">
    <div class="card card-body bg-light">
      <h5 class="card-title">Write Message</h5>

      {% if message_form.instance.pk %}
        <span id="{{ message_form.instance.sodar_uuid }}"></span>
      {% endif %}
      <form id="message-form" method="post" enctype="multipart/form-data"
          {% if message_form.instance.pk %}
            action="{% url 'flowcells:message-update' project=project.sodar_uuid flowcell=object.sodar_uuid message=message_form.instance.sodar_uuid %}#message-form"
          {% else %}
            action="{% url 'flowcells:message-create' project=project.sodar_uuid flowcell=object.sodar_uuid %}#message-form"
          {% endif %}
        >{% csrf_token %}
        {% if message_form.instance.pk %}
        <p class="alert alert-info">
          <i class="fa fa-info-circle pr-2"></i>
          Your message has been saved as a draft.
          Only you can see it. 
          Use Send below for actually sending it.
        </p>
        {% endif %}
   
        {% crispy message_form message_form.helper %}

        <div class="text-right pb-3">
          <div class="btn-group" role="group">
            <button type="submit" name="submit" value="discard" class="btn btn-danger">
              <i class="fa fa-times" aria-hidden="true"></i>
              Discard
            </a>
            <button type="submit" name="submit" value="save" class="btn btn-secondary">
              <i class="fa fa-save" aria-hidden="true"></i>
              Save as Draft
            </a>
            <button type="submit" name="submit" value="send" class="btn btn-primary">
              <i class="fa fa-send" aria-hidden="true"></i>
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
