{% extends "projectroles/project_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item">
    <a href="{% url 'flowcells:flowcell-list' project=project.sodar_uuid %}">Flow Cells</a>
  </li>
  {% if object.pk %}
    <li class="breadcrumb-item">
      <a href="{% url 'flowcells:flowcell-detail' project=project.sodar_uuid flowcell=object.sodar_uuid %}">
        {{ object.vendor_id }} ({{ object.label }})
      </a>
    </li>
    <li class="breadcrumb-item active">
      Update
    </li>
  {% else %}
    <li class="breadcrumb-item active">
      Create
    </li>
  {% endif %}
{% endblock %}

{% block title %}
  {% if object.pk %}
    Updating {{ object.vendor_id }} ({{ vendor.label }})
  {% else %}
    Create new Flow Cell in {{ project.title }}
  {% endif %}
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      {% if object.pk %}
        Update
      {% else %}
        Create
      {% endif %}
      Flow Cell
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="properties-tab" data-toggle="tab" href="#properties" aria-controls="properties" aria-selected="true">Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sample-sheet-tab" data-toggle="tab" href="#sample-sheet" aria-controls="sample-sheet" aria-selected="true">Sample Sheet</a>
      </li>
    </ul>

    <form method="post">{% csrf_token %}
      <div class="tab-content border-left border-right border-bottom" id="flowcellTabContent">
        <div class="tab-pane show active" id="properties" role="tabpanel" aria-labelledby="properties-tab">
          <div class="row py-3">
            <div class="col">
              {% if object.pk %}
                <div class="form-group">
                  <label class="form-control-label">UUID</label>
                  <div>
                    <input type="text" readonly class="form-control-plaintext" value="{{ object.sodar_uuid }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Project</label>
                  <div>
                    <input type="text" readonly class="form-control-plaintext" value="{{ object.project.title }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Created</label>
                  <div>
                    <input type="text" readonly class="form-control-plaintext" value="{{ object.date_created }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label">Last Update</label>
                  <div>
                    <input type="text" readonly class="form-control-plaintext" value="{{ object.date_modified }}">
                  </div>
                </div>
              {% endif %}
              {{ form|crispy }}

              {% include "flowcells/_flowcell_submit_buttons.html" %}
            </div>
          </div>
        </div>
        <div class="tab-pane" id="sample-sheet" role="tabpanel" aria-labelledby="sample-sheet-tab">
          <div class="row">
            <div class="col px-0 sheet-table-container">
              <div id="hot-table" data-args="{&quot;project&quot;: &quot;{{ project.sodar_uuid }}&quot;}"></div>
            </div>
          </div>
          <div class="row">
            <div class="col pt-3">
              {% include "flowcells/_flowcell_submit_buttons.html" %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/handsontable.full.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">
  <script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/multi-integer-range.js' %}"></script>

  <script type="text/javascript">
    {% include "flowcells/_script_flowcell_editor.js" %}
  </script>
{% endblock %}
