{% load crispy_forms_tags %}
{% load flowcells %}

<form class="flowcell-suppress-warning-form" action="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=object.sodar_uuid warning=warning lanes=selected_lanes|join:"," %}?{% if render_full %}render_full=true{% endif %}{% if return_to %}&return_to={{ return_to }}{% endif %}" method="post">
  {% csrf_token %}

  {% for lane in other_lanes %}
    <input type="hidden" name="lanes_suppress_{{ warning }}_warning" value="{{ lane }}">
  {% endfor %}

  <button type="submit" class="btn btn-sm btn-primary" name="submit" value="submit">
    <i class="fa fa-exclamation-triangle"></i>
    Show Warning
  </button>
  <button type="submit" class="btn btn-sm btn-secondary" name="lanes_suppress_{{ warning }}_warning" value="{{ selected_lanes|join:"," }}">
    <i class="fa fa-ban"></i>
    Suppress Warning
  </button>
</form>
