<table class="table table-striped table-hover table-sm popover-form-container">
  <thead>
    {% include 'flowcells/_flowcell_table_header.html' %}
  </thead>
  <tbody>
    {% if object_list.count > 0 %}
      {% for flowcell in object_list %}
        {% include 'flowcells/_flowcell_item.html' with item=flowcell details_card_mode=False %}
      {% endfor %}
    {% else %}
      <tr>
        <td class="bg-faded font-italic text-center" colspan="7">No flow cells (yet)</td>
      </tr>
    {% endif %}
  </tbody>
</table>


{% if is_paginated %}
  <div class="pt-3 d-flex justify-content-center">
    <ul class="pagination pagination-sm">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link"  href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" >&laquo;</a></li>
      {% endif %}
      {% if page_obj.number > 6 %}
        <li class="page-item disabled"><a class="page-link" >...</a></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}
          {% if page_obj.number == i %}
            <li class="page-item active"><a class="page-link" >{{ i }} <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:-5 %}
        <li class="page-item disabled"><a class="page-link" >...</a></li>
      {% endif %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"  href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" >&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
