<tr>
  <th class="text-nowrap">
    <i class="fa fc-fw fa-info-circle" data-toggle="tooltip" title="error indicator"></i>

    <i class="fa fc-fw fa-flask ml-3" data-toggle="tooltip" title="sequencing status"></i>
    <i class="fa fc-fw fa-microchip" data-toggle="tooltip" title="demultiplexing status"></i>
    <i class="fa fc-fw fa-truck" data-toggle="tooltip" title="delivery status"></i>

    <i class="fa fc-fw fa-file-text-o ml-3" data-toggle="tooltip" title="FASTQ delivery"></i>
    <i class="fa fc-fw fa-file-archive-o" data-toggle="tooltip" title="BCL tarball delivery"></i>

    <i class="fa fc-fw fa-comment-o ml-3" data-toggle="tooltip" title="comment indicator"></i>
    <i class="fa fc-fw fa-envelope-o" data-toggle="tooltip" title="message indicator"></i>
    <i class="fa fc-fw fa-files-o" data-toggle="tooltip" title="file attachment indicator"></i>
  </th>
  <th>Date</th>
  <th>Instrument</th>
  <th>Flow Cell</th>
  <th>Mode</th>
  <th>Seq./Demux. Operator</th>
  <th colspan="2">Libraries</th>
</tr>
