<tr>
  <th class="text-nowrap" style="width: 0px;" class="text-center">
    <i class="iconify fc-fw" data-icon="mdi:information" data-toggle="tooltip" title="error indicator"></i>
    <i class="iconify fc-fw" data-icon="mdi:eye-outline" data-toggle="tooltip" title="watching flowcell?"></i>

    <i class="iconify fc-fw ml-3" data-icon="mdi:flask" data-toggle="tooltip" title="sequencing status"></i>
    <i class="iconify fc-fw" data-icon="mdi:chip" data-toggle="tooltip" title="demultiplexing status"></i>
    <i class="iconify fc-fw" data-icon="mdi:truck" data-toggle="tooltip" title="delivery status"></i>

    <i class="iconify fc-fw ml-3" data-icon="mdi:file-document-outline" data-toggle="tooltip" title="FASTQ delivery"></i>
    <i class="iconify fc-fw" data-icon="mdi:archive-outline" data-toggle="tooltip" title="BCL tarball delivery"></i>

    <i class="iconify fc-fw ml-3" data-icon="mdi:comment-text-outline" data-toggle="tooltip" title="comment indicator"></i>
    <i class="iconify fc-fw" data-icon="mdi:email-outline" data-toggle="tooltip" title="message indicator"></i>
    <i class="iconify fc-fw" data-icon="mdi:file-multiple-outline" data-toggle="tooltip" title="file attachment indicator"></i>
    <i class="iconify fc-fw" data-icon="mdi:chart-bar" data-toggle="tooltip" title="has barchart indicator"></i>
  </th>
  <th style="width: 0px;" class="text-center">Date</th>
  <th style="width: 6em;" class="text-center">Instrument</th>
  <th class="text-center">Run</th>
  <th class="text-center">Flow Cell</th>
  <th style="width: 0px;" class="text-center">Mode</th>
  <th style="width: 15em;" class="text-center">Seq./Demux. Operator</th>
  <th style="width: 0px;" class="text-center" colspan="2">Libraries</th>
</tr>
