<tr>
  <th class="text-nowrap" style="width: 0px;" class="text-center">
    <i class="fa fc-fw fa-info-circle" data-toggle="tooltip" title="error indicator"></i>
    <i class="fa fc-fw fa-eye" data-toggle="tooltip" title="watching flowcell?"></i>

    <i class="fa fc-fw fa-flask ml-3" data-toggle="tooltip" title="sequencing status"></i>
    <i class="fa fc-fw fa-microchip" data-toggle="tooltip" title="demultiplexing status"></i>
    <i class="fa fc-fw fa-truck" data-toggle="tooltip" title="delivery status"></i>

    <i class="fa fc-fw fa-file-text-o ml-3" data-toggle="tooltip" title="FASTQ delivery"></i>
    <i class="fa fc-fw fa-file-archive-o" data-toggle="tooltip" title="BCL tarball delivery"></i>

    <i class="fa fc-fw fa-comment-o ml-3" data-toggle="tooltip" title="comment indicator"></i>
    <i class="fa fc-fw fa-envelope-o" data-toggle="tooltip" title="message indicator"></i>
    <i class="fa fc-fw fa-files-o" data-toggle="tooltip" title="file attachment indicator"></i>
    <i class="fa fc-fw fa-bar-chart" data-toggle="tooltip" title="has barchart indicator"></i>
  </th>
  <th style="width: 0px;" class="text-center">Date</th>
  <th style="width: 6em;" class="text-center">Instrument</th>
  <th class="text-center">Run</th>
  <th class="text-center">Flow Cell</th>
  <th style="width: 0px;" class="text-center">Mode</th>
  <th style="width: 15em;" class="text-center">Seq./Demux. Operator</th>
  <th style="width: 0px;" class="text-center" colspan="2">Libraries</th>
</tr>
