{% load flowcells %}

<h4>Meta Info</h4>

<dl class="row flowcell-properties">
  <dt class="col-12 col-md-3 col-xl-2">UUID</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.sodar_uuid }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Site</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.project.title }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Created</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.date_created }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Last Modified</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.date_modified }}</dd>
</dl>

<h4>Basic Properties</h4>

<dl class="row flowcell-properties">
  <dt class="col-12 col-md-3 col-xl-2">Full Name</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.get_full_name }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Sequencer</dt>
  <dd class="col-12 col-md-9 col-xl-10">
    <a href="{% url 'sequencers:sequencer-detail' project=project.sodar_uuid sequencer=object.sequencing_machine.sodar_uuid %}">
      {{ object.sequencing_machine.label }}
      ({{ object.sequencing_machine.vendor_id }})
    </a>
  </dd>

  <dt class="col-12 col-md-3 col-xl-2">Manual Label</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.manual_label|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Description</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.description|linebreaksbr }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Number of Lanes</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.num_lanes|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">RTA Version</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.rta_version }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Planned Reads</dt>
  <dd class="col-12 col-md-9 col-xl-10 text-nowrap">{{ object.planned_reads|format_basemask }}</dd>
</dl>

<h4>Demultiplexing and State</h4>

<dl class="row flowcell-properties">
  <dt class="col-12 col-md-3 col-xl-2">Operator</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.operator|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Demux Operator</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.demux_operator.name|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Current Reads</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.current_reads|format_basemask }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Status Sequencing</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.status_sequencing }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Status Conversion</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.status_conversion }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Status Delivery</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.status_delivery }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Delivery Type</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.delivery_type }}</dd>
</dl>

<h4>Parameters for <code>bcl2fastq</code></h4>

<dl class="row flowcell-properties">
  <dt class="col-12 col-md-3 col-xl-2">Barcode Mismatches</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.barcode_mismatches|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Manual Demux Reads</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.demux_reads|format_basemask|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Minimum Trimmed Read Length</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.minimum_trimmed_read_length|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Mask Short Adapter Reads</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.mask_short_adapter_reads|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Create FASTQ for Index Reads</dt>
  <dd class="col-12 col-md-9 col-xl-10">{% if form.create_fastq_for_index_reads %}yes{% else %}no{% endif %}</dd>
</dl>

<h4>Sheet Sanity Check and Quality Control</h4>

<dl class="row flowcell-properties">
  <dt class="col-12 col-md-3 col-xl-2">Sheet Completeness</dt>
  <dd class="col-12 col-md-9 col-xl-10">
    {% get_lanes_with_missing_sheets object as lanes_with_missing_sheets %}
    {% if lanes_with_missing_sheets %}
      <span class="text-warning">
        <i class="iconify pr-1" data-icon="mdi:alert-circle" title="Missing sheet info {{ lanes_with_missing_sheets|pluralize:"lane,lanes" }} {{ lanes_with_missing_sheets|pretty_range }}"
           data-toggle="tooltip"
           data-popover-url="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=flowcell.sodar_uuid warning="no_sample_sheet" lanes=lanes_with_missing_sheets|join:"," %}?return_to=properties"></i>
        Sample sheet missing for {{ lanes_with_missing_sheets|pluralize:"lane,lanes" }} {{ lanes_with_missing_sheets|pretty_range }}.
      </span>
    {% elif flowcell.lanes_suppress_no_sample_sheet_warning %}
      {% get_lanes_with_missing_sheets object True as lanes_with_missing_sheets %}
      <span class="text-muted">
        <i class="iconify pr-1" data-icon="mdi:alert-circle" title="Missing sheet info {{ lanes_with_missing_sheets|pluralize:"lane,lanes" }} {{ lanes_with_missing_sheets|pretty_range }}"
           data-toggle="tooltip"
           data-popover-url="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=flowcell.sodar_uuid warning="no_sample_sheet" lanes=lanes_with_missing_sheets|join:"," %}?return_to=properties"></i>
        Suppressed warning {{ lanes_with_missing_sheets|pluralize:"s" }} on lanes with missing sample sheets.
      </span>
    {% else %}
      The sheet is complete
    {% endif %}
  </dd>

  <dt class="col-12 col-md-3 col-xl-2">All BCL indexes in sheet?</dt>
  <dd class="col-12 col-md-9 col-xl-10">
    {% get_index_error_lanes object True as all_lanes_with_index_errors %}
    {% if flowcell.get_index_errors %}
      <span class="text-danger">
        <i class="iconify pr-1" data-icon="mdi:alert-circle" title="Indices not found in sheet"
         data-toggle="tooltip"
         data-popover-url="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=flowcell.sodar_uuid warning="no_sample_found_for_observed_index" lanes=all_lanes_with_index_errors|join:"," %}?return_to=properties"></i>
        At least one index adapter was not found in the sample sheet.
      </span>
    {% elif flowcell.lanes_suppress_no_sample_found_for_observed_index_warning %}
      <span class="text-muted">
        <i class="iconify pr-1" data-icon="mdi:alert-circle" title="Indices not found in sheet"
         data-toggle="tooltip"
         data-popover-url="{% url 'flowcells:flowcell-suppress-warning' project=project.sodar_uuid flowcell=flowcell.sodar_uuid warning="no_sample_found_for_observed_index" lanes=all_lanes_with_index_errors|join:"," %}?return_to=properties"></i>
        Suppressed warnings about BCL index adapters that cannot be found in the sample sheet.
      </span>
    {% else %}
      All (non-contamination) index adapters found in sheet.
    {% endif %}
  </dd>

  <dt class="col-12 col-md-3 col-xl-2">All sheet libraries in BCL?</dt>
  <dd class="col-12 col-md-9 col-xl-10">
    {% get_libraries_with_suppressed_reverse_index_errors object as libraries_with_suppressed_index_errors %}
    {% if flowcell.get_reverse_index_errors %}
      <span class="text-danger">
        <i class="iconify pr-1" data-icon="mdi:alert-circle" title="There is an issue with a library on the sample shet." data-toggle="tooltip"></i>
        There is an issue with a library on the sample shet.
      </span>
    {% elif libraries_with_suppressed_index_errors %}
      <span class="text-muted">
        <i class="iconify pr-1" data-icon="mdi:alert-circle" title="Sheet index library not found in BCLs indices" data-toggle="tooltip"></i>
        Suppressed warnings about sample sheet index adapters that cannot be found in the BCL indices.
      </span>
    {% else %}
      All (non-contamination) index adapters found in sheet.
    {% endif %}
  </dd>
</dl>
