{% load flowcells %}

<tr class="popover-replace-item">
  <td class="text-muted">{{ forloop.counter }}{{ forloop_counter }}</td>
  <td>
    {% get_sheet_name_errors item.flow_cell item as name_errors %}
    {% get_sheet_barcode_errors item.flow_cell item as barcode_errors %}
    {% get_sheet_barcode2_errors item.flow_cell item as barcode2_errors %}
    {% get_sheet_lane_errors item.flow_cell item as lane_errors %}
    {% get_reverse_index_errors item.flow_cell item.sodar_uuid as reverse_errors %}

    {% if name_errors or barcode_errors or barcode2_errors or lane_errors or reverse_errors.barcode or reverse_errors.barcode2 or reverse_errors.library_cycles %}
      <!--
      name_errors: {{ name_errors }}
      barcode_errors: {{ barcode_errors }}
      barcode2_errors: {{ barcode2_errors }}
      lane_errors: {{ lane_errors }}
      reverse_errors: {{ reverse_errors }}
      -->
      <i data-toggle="tooltip"
         title="There is a problem with this library"
         class="fa fa-fw fa-times text-danger"></i>
    {% elif item.suppress_barcode1_not_observed_error or item.suppress_barcode2_not_observed_error %}
      <i class="fa fa-fw fa-exclamation-circle text-muted"
        title="Some barcode error was suppressed"
        data-toggle="tooltip"></i>
    {% else %}
      <i class="fa fa-fw fa-check text-success"></i>
    {% endif %}
  </td>
  <td class="text-nowrap">
    {% if item.demux_reads %}
      <span class="text-muted" data-toggle="tooltip" title="{{ item.demux_reads }}">
        <i class="fa fa-dot-circle-o "></i>
      </span>
    {% endif %}
  </td>
  <td class="text-nowrap">
    <div class="sodar-overflow-container sodar-overflow-hover">
      {% if name_errors %}
        <span class="text-danger" data-toggle="tooltip" title="{{ name_errors|join:", " }}">
      {% endif %}
          {{ item.name }}
      {% if name_errors %}
          <i class="fa fa-exclamation-triangle pl-1"></i>
        </span>
      {% endif %}
    </div>
  </td>
  <td>{{ item.project_id|default:"-" }}</td>
  <td>{{ item.reference|reference_label }}</td>

  <td style="max-width: 150px;">
    <div class="sodar-overflow-container sodar-overflow-hover">
      {% if not item.barcode %}
        -
      {% else %}
        <a href="{% url "barcodes:barcodeset-detail" project=project.sodar_uuid barcodeset=item.barcode.barcode_set.sodar_uuid %}">
          {{ item.barcode.barcode_set.name }}
        </a>
      {% endif %}
    </div>
  </td>
  <td style="max-width: 150px;">
    <div class="sodar-overflow-container sodar-overflow-hover">
      {% if barcode_errors or reverse_errors.barcode %}
        {% if item.suppress_barcode1_not_observed_error %}
          <span class="text-muted" data-toggle="tooltip" title="Suppressed index error for barcode #1">
        {% else %}
          <span class="text-danger" data-toggle="tooltip" title="{{ barcode_errors|chain:reverse_errors.barcode|join:", " }}">
        {% endif %}
      {% endif %}

      {% if not item.barcode %}
        {% if item.barcode_seq %}
          <span data-toggle="tooltip" title="manually entered barcode">
            {{ item.get_barcode_seq }}
            <span class="text-muted">(<i class="fa fa-keyboard-o"></i>)</span>
          </span>
        {% else %}
          -
        {% endif %}
      {% else %}
        {{ item.get_barcode_seq }}
        <span class="{% if not barcode_errors %}text-muted{% endif %}">({{ item.barcode.name }})</span>
      {% endif %}

      {% if barcode_errors or reverse_errors.barcode %}
          {% if item.suppress_barcode1_not_observed_error %}
            <i class="fa fa-exclamation-circle pl-1"
              title="Suppress Barcode #1 Error"
              data-popover-url="{% url 'flowcells:library-suppress-warning' project=project.sodar_uuid flowcell=item.flow_cell.sodar_uuid library=item.sodar_uuid barcode_no=1 %}?forloop_counter={{ forloop.counter }}{{ forloop_counter }}"
            ></i>
            </span>
          {% else %}
            <i class="fa fa-exclamation-triangle pl-1"
              title="Suppress Barcode #1 Error"
              data-popover-url="{% url 'flowcells:library-suppress-warning' project=project.sodar_uuid flowcell=item.flow_cell.sodar_uuid library=item.sodar_uuid barcode_no=1 %}?forloop_counter={{ forloop.counter }}{{ forloop_counter }}"
            ></i>
          {% endif %}
        </span>
      {% endif %}
    </td>
  </td>

  <td style="max-width: 150px;">
    <div class="sodar-overflow-container sodar-overflow-hover">
      {% if not item.barcode2 %}
        -
      {% else %}
        <a href="{% url "barcodes:barcodeset-detail" project=project.sodar_uuid barcodeset=item.barcode2.barcode_set.sodar_uuid %}">
          {{ item.barcode2.barcode_set.name }}
        </a>
      {% endif %}
    </td>
  </td>
  <td style="max-width: 150px;">
    <div class="sodar-overflow-container sodar-overflow-hover">
      {% if barcode2_errors or reverse_errors.barcode2 %}
        {% if item.suppress_barcode2_not_observed_error %}
          <span class="text-muted" data-toggle="tooltip" title="Suppressed index error for barcode #2">
        {% else %}
          <span class="text-danger" data-toggle="tooltip" title="{{ barcode2_errors|chain:reverse_errors.barcode2|join:", " }}">
        {% endif %}
      {% endif %}

      {% if not item.barcode2 %}
        {% if item.barcode_seq2 %}
          <span data-toggle="tooltip" title="manually entered barcode">
            {{ item.get_barcode_seq2 }}
            <span class="text-muted">(<i class="fa fa-keyboard-o"></i>)</span>
          </span>
        {% else %}
          -
        {% endif %}
      {% else %}
        {{ item.get_barcode_seq2 }}
        <span class="{% if not barcode2_errors %}text-muted{% endif %}">({{ item.barcode2.name }})</span>
      {% endif %}

      {% if barcode2_errors or reverse_errors.barcode2 %}
        {% if item.suppress_barcode2_not_observed_error %}
            <i class="fa fa-exclamation-circle pl-1"
               title="Suppress Barcode #2 Error"
               data-popover-url="{% url 'flowcells:library-suppress-warning' project=project.sodar_uuid flowcell=item.flow_cell.sodar_uuid library=item.sodar_uuid barcode_no=2 %}?forloop_counter={{ forloop.counter }}{{ forloop_counter }}"
            ></i>
          </span>
        {% else %}
            <i class="fa fa-exclamation-triangle pl-1"
              title="Suppress Barcode #2 Error"
              data-popover-url="{% url 'flowcells:library-suppress-warning' project=project.sodar_uuid flowcell=item.flow_cell.sodar_uuid library=item.sodar_uuid barcode_no=2 %}?forloop_counter={{ forloop.counter }}{{ forloop_counter }}"
            ></i>
          </span>
        {% endif %}
      {% endif %}
    </div>
  </td>
  <td class="text-nowrap">
    {% if lane_errors %}
      <span class="text-danger" data-toggle="tooltip" title="{{ lane_errors|join:", " }}">
    {% endif %}
        {{ item.lane_numbers|pretty_range|default:"-" }}
    {% if lane_errors %}
        <i class="fa fa-exclamation-triangle pl-1"></i>
      </span>
    {% endif %}
  </td>
  <td>
    {% if reverse_errors.library_cycles %}
      <span class="text-danger" data-toggle="tooltip" title="{{ reverse_errors.library_cycles|join:", " }}">
    {% endif %}
        {{ item.demux_reads|format_basemask|default:"-" }}
    {% if reverse_errors.library_cycles %}
        <i class="fa fa-exclamation-triangle pl-1"></i>
      </span>
    {% endif %}
  </td>
</tr>
