{% extends "projectroles/project_base.html" %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item">
    <a href="{% url 'flowcells:flowcell-list' project=project.sodar_uuid %}">Flow Cells</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'flowcells:flowcell-detail' project=project.sodar_uuid flowcell=object.flow_cell.sodar_uuid %}">
      {{ object.flow_cell.vendor_id }} ({{ object.flow_cell.label }})
    </a>
  </li>
  <li class="breadcrumb-item active">
    Suppress Index Warning
  </li>
{% endblock %}

{% block title %}
  Suppress Index Warning for {{ object.name }} of Flow Cell {{ object.flow_cell.vendor_id }} ({{ object.flow_cell.label }})
{% endblock title %}

{% block projectroles %}

  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Suppress Library Index Warning
    </h2>
  </div>

  <h3>Warning</h3>

  {% include "flowcells/_library_suppress_warning_form.html" %}

  {{ form.errors }}

{% endblock %}
