{% load humanize %}

<div class="card mb-3">
  <div class="card-body">
    {% if message.subject %}
      <h5 class="card-title">
        {{ message.subject }}
      </h5>
    {% endif %}
    <h6 class="card-subtitle mb-2 text-muted">
      Written
      <span data-toggle="tooltip" title="{{ message.date_created }}">
          {{ message.date_created|naturaltime }}
      </span>
      by
      <span
        {% if message.author.username != message.author.get_full_name %}
          data-toggle="tooltip" title="{{ message.author.username }}"
        {% endif %}
          >
        {{ message.author.get_full_name }}
      </span>
    </h6>
    <p class="card-text pb-3">
      {{ message.body }}
      {% if not delete_mode %}
        <a class="btn btn-danger btn-sm pull-right mb-2" href="{% url 'flowcells:message-delete' project=project.sodar_uuid flowcell=message.flow_cell.sodar_uuid message=message.sodar_uuid %}">
          <i class="fa fa-times"></i>
          Delete
        </a>
      {% endif %}
    </p>
  </div>
</div>
