{% load humanize %}
{% load filesfolders_tags %}

<div class="card mb-3">
  <div class="card-body pb-3">
    {% if message.subject %}
      <h5 class="card-title">
        {{ message.subject }}
        <a class="pull-right text-muted" id="message-{{ message.sodar_uuid }}" href="#message-{{ message.sodar_uuid }}">#</a>
        {% if not delete_mode %}
          <a class="btn btn-danger btn-sm pull-right mb-2" href="{% url 'flowcells:message-delete' project=project.sodar_uuid flowcell=message.flow_cell.sodar_uuid message=message.sodar_uuid %}">
            <i class="fa fa-times"></i>
            Delete
          </a>
        {% endif %}
      </h5>
    {% endif %}
    <h6 class="card-subtitle mb-2 text-muted">
      Written
      <span data-toggle="tooltip" title="{{ message.date_created }}">
        {{ message.date_created|naturaltime }}
      </span>
      by
      <span
        {% if message.author.username != message.author.get_full_name %}
          data-toggle="tooltip" title="{{ message.author.username }}"
        {% endif %}
          >
        {{ message.author.get_full_name }}
      </span>
      {% if not message.subject %}
        <a class="pull-right text-muted" id="message-{{ message.sodar_uuid }}" href="#message-{{ message.sodar_uuid }}">#</a>
      {% endif %}
    </h6>
    <p class="card-text">
      {% if message.body_format == "text/markdown" %}
        {% render_markdown entry_contamination.description as description %}
        {% autoescape off %}
          {{ description }}
        {% endautoescape %}
      {% else %}
        {{ message.body|linebreaks }}
      {% endif %}
    </p>
    {% if message.get_attachment_files %}
      <h6 class="card-subtitle text-muted mb-2">
        Attachments
      </h6>
      <ul class="list-unstyled mb-0">
        {% for item in message.get_attachment_files %}
          <li>
            <span class="text-muted ml-2 mr-2">
              #{{ forloop.counter }}
            </span>
            <a href="{% url 'filesfolders:file_serve' file=item.sodar_uuid file_name=item.name %}" class="text-dark">
              <i class="fa fa-{% get_file_icon item %}"></i>
              {{ item.name }}
            </a>
           ({{ item.file.file.size|filesizeformat }})
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
