{% extends "projectroles/project_base.html" %}

{% load flowcells %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item">
    <a href="{% url 'flowcells:flowcell-list' project=project.sodar_uuid %}">Flow Cells</a>
  </li>
    <li class="breadcrumb-item active">
      {{ object.vendor_id }} ({{ object.label }})
  </li>
{% endblock %}

{% block projectroles %}
  <div id="ajax-form-errors"></div>

  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Flow Cell &quot;{{ object.get_full_name }}&quot;
    </h2>
    {% include "flowcells/_flowcell_detail_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link{% if not message_mode %} active{% endif %}" id="properties-tab" data-toggle="tab" href="#properties" aria-controls="properties" aria-selected="true">Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="sample-sheet-tab" data-toggle="tab" href="#sample-sheet" aria-controls="sample-sheet" aria-selected="true">
          Sample Sheet
          {% if object.get_sample_sheet_errors or object.get_reverse_index_errors %}
            <i class="fa fa-fw fa-exclamation-triangle text-danger pl-1" data-toggle="tooltip" title="There were inconsistencies betwen the sample sheet and the observed indices"></i>
          {% elif not object.libraries.all %}
            <i class="fa fa-question-circle text-muted" data-toggle="tooltip" title="No sample sheet information added so far"></i>
          {% endif %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="index-stats-tab" data-toggle="tab" href="#index-stats" aria-controls="index-stats" aria-selected="true">
          Index Stats
          {% get_lanes_with_missing_sheets object as lanes_with_missing_sheets  %}
          {% if object.get_index_errors %}
            <i class="fa fa-exclamation-triangle text-danger pl-1" data-toggle="tooltip" title="There were inconsistencies with observed index adapters and the sample sheet"></i>
          {% elif lanes_with_missing_sheets %}
            <i class="fa fa-exclamation-circle text-warning p-1" data-toggle="tooltip" title="No sample sheet information for at least one lane"></i>
          {% elif object.lanes_suppress_no_sample_found_for_observed_index_warning %}
            <i class="fa fa-exclamation-circle text-muted p-1" data-toggle="tooltip" title="Suppressed warning about at least one index in BCL missing in sample sheet"></i>
          {% elif object.lanes_suppress_no_sample_sheet_warning %}
            <i class="fa fa-exclamation-circle text-muted p-1" data-toggle="tooltip" title="Suppressed warning about missing sample sheet for at least one lane"></i>
          {% elif not object.index_histograms.all %}
            <i class="fa fa-question-circle text-muted p-1" data-toggle="tooltip" title="No observed index adapters registered (yet)"></i>
          {% endif %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if message_mode %} active{%endif %}" id="messages-tab" data-toggle="tab" href="#messages" aria-controls="messages" aria-selected="true">
          Messages
          <span class="badge badge-secondary ml-1">{{ object.get_sent_messages.count }}</span>
        </a>
      </li>
    </ul>

    <div class="tab-content border-left border-right border-bottom" id="flowcellTabContent">
      <div class="tab-pane {% if not message_mode %}show active{% else %}fade{% endif %}" id="properties" role="tabpanel" aria-labelledby="properties-tab">
        <div class="row py-3">
          <div class="col">
            {% include "flowcells/_flowcell_properties.html" %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="sample-sheet" role="tabpanel" aria-labelledby="sample-sheet-tab">
        <div class="row py-3">
          <div class="col">
            {% include "flowcells/_flowcell_samplesheet.html" %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="index-stats" role="tabpanel" aria-labelledby="index-stats-tab">
        <div class="row py-3">
          <div class="col">
            {% include "flowcells/_flowcell_index_stats.html" %}
          </div>
        </div>
      </div>
      <div class="tab-pane {% if message_mode %}show active{% else %}fade{% endif %}" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        <div class="row py-3">
          <div class="col">
            {% include "flowcells/_flowcell_messages.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript">
    /**
     * Handle direct link to the messages.
     */
    $(function () {
      // open correct tab
      let hash = window.location.hash
      if (hash.startsWith('#message-')) {
        $('#properties-tab').removeClass('active')
        $('#properties').addClass('fade')
        $('#properties').removeClass('active show')
        $('#messages').addClass('show active')
        $('#messages').removeClass('fade')
        $('#messages-tab').addClass('active')
      } else if (hash.startsWith('#index-stats')) {
        $('#properties-tab').removeClass('active')
        $('#properties').addClass('fade')
        $('#properties').removeClass('active show')
        $('#index-stats').addClass('show active')
        $('#index-stats').removeClass('fade')
        $('#index-stats-tab').addClass('active')
      }
    })
  </script>

  <script type="text/javascript">
    {% include "flowcells/_script_popover_forms.js" %}
  </script>

{% endblock %}
