{% extends "projectroles/base.html" %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item">
    <a href="{% url 'flowcells:flowcell-list' project=project.sodar_uuid %}">Flow Cells</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'flowcells:flowcell-detail' project=project.sodar_uuid flowcell=object.sodar_uuid %}">
      {{ object.vendor_id }}
    </a>
  </li>
  <li class="breadcrumb-item active">Delete Message</li>
{% endblock %}

{% block title %}
  Confirm Removal of Message
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Really Delete Message &quot;{{ object.get_full_name }}&quot;?
    </h2>
  </div>

  <div class="container-fluid sodar-page-container">

    {% include "flowcells/_message_item.html" with message=object delete_mode=True %}

    <form method="post">
      {% csrf_token %}
      <div class="btn-group pull-right">
        <a role="button" class="btn btn-secondary"
            href="{{ request.session.real_referer }}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
        <button type="submit" class="btn btn-danger">
          <i class="iconify" data-icon="mdi:close-thick"></i> Remove
        </button>
      </div>
    </form>
  </div>

{% endblock %}

