<dl class="row">
  <dt class="col-12 col-md-3 col-xl-2">UUID</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.sodar_uuid }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Project</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.project.title }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Created</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.date_created }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Last Modified</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.date_modified }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Vendor ID</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.vendor_id }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Label</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.label|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Description</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.description|default:"-" }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Machine Model</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.machine_model }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Slot Count</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.slot_count }}</dd>

  <dt class="col-12 col-md-3 col-xl-2">Dual Indexing Workflow</dt>
  <dd class="col-12 col-md-9 col-xl-10">{{ object.dual_index_workflow }}</dd>
</dl>
