{% if up %}
  <div class="row">
    <div class="btn-group dropup ml-auto" id="sodar-ff-buttons-list-up">
{% else %}
  <div class="btn-group ml-auto" id="sodar-ff-buttons-list">
{% endif %}
  <button class="btn btn-primary dropdown-toggle"
          type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Sequencer Operations
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'sequencers:sequencer-create' project=project.sodar_uuid %}">
      <i class="fa fa-fw fa-plus"></i> Create
    </a>
  </div>
</div>
{% if up %}
  </div>
{% endif %}
