<div class="btn-group ml-auto" id="sodar-ff-buttons-list">
  <button class="btn btn-primary dropdown-toggle"
          type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Sequencer Operations
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'sequencers:sequencer-create' project=project.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:plus-thick"></i> Create
    </a>
    <a class="dropdown-item" href="{% url 'sequencers:sequencer-update' project=project.sodar_uuid sequencer=object.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:lead-pencil"></i> Update
    </a>
    <a class="dropdown-item" href="{% url 'sequencers:sequencer-delete' project=project.sodar_uuid sequencer=object.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:close-thick"></i> Delete
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'api:sequencers' project=project.sodar_uuid sequencer=object.sodar_uuid %}?format=json">
      <i class="iconify" data-icon="mdi:cloud-download"></i> JSON Export
    </a>
  </div>
</div>
