{% extends "projectroles/project_base.html" %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item">
    <a href="{% url 'sequencers:sequencer-list' project=project.sodar_uuid %}">Sequencers</a>
  </li>
    <li class="breadcrumb-item active">
      {{ object.vendor_id }} ({{ object.label }})
  </li>
{% endblock %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Sequencing Machine &quot;{{ object.vendor_id }}&quot; ({{ object.label }})
    </h2>
    {% include "sequencers/_sequencer_detail_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="properties-tab" data-toggle="tab" href="#properties" aria-controls="properties" aria-selected="true">Properties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="flowcells-tab" data-toggle="tab" href="#flowcells" aria-controls="flowcells" aria-selected="true">
          Flow Cells/Runs
          ({{ object.flowcell_set.count }})
        </a>
      </li>
    </ul>

    <div class="tab-content border-left border-right border-bottom" id="flowcellTabContent">
      <div class="tab-pane show active" id="properties" role="tabpanel" aria-labelledby="properties-tab">
        <div class="row py-3">
          <div class="col">
            {% include "sequencers/_sequencer_properties.html" %}
          </div>
        </div>
      </div>
      <div class="tab-pane face" id="flowcells" role="tabpanel" aria-labelledby="flowcells-tab">
        <div class="row py-3">
          <div class="col">
            {% include "sequencers/_sequencer_flowcells.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
