{% extends "projectroles/project_base.html" %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item active">Sequencers</li>
{% endblock %}

{% block title %}
  Sequencers in {{ project.title }}
{% endblock title %}

{% block projectroles %}
  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      Sequencing Machines
      <span class="badge badge-secondary">
        {{ object_list|length }}
      </span>
    </h2>
    {% include "sequencers/_sequencer_list_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:10px">#</th>
          <th class="col-lg-2 col-sm-3">Created</th>
          <th class="col-lg-2 col-sm-3">Vendor ID</th>
          <th class="col-lg-2 col-sm-3">Label</th>
          <th style="width: 0px;">Runs</th>
          <th class="col-lg-6 col-sm-3">Description</th>
        </tr>
      </thead>
      <tbody>

        {% if object_list.count > 0 %}
          {% for sequencer in object_list %}
            {% include 'sequencers/_sequencer_item.html' with item=sequencer details_card_mode=False %}
          {% endfor %}
        {% else %}
          <tr>
            <td class="bg-faded font-italic text-center" colspan="6">No sequencing machines (yet)</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}
