<div class="btn-group sodar-list-btn-group pull-right">
  <button class="btn btn-secondary dropdown-toggle sodar-list-dropdown"
      type="button" data-toggle="dropdown" aria-expanded="false">
    <i class="iconify" data-icon="mdi:cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'fileboxes:filebox-update' project=project.sodar_uuid filebox=item.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:lead-pencil"></i>
      Update
    </a>
    <a class="dropdown-item" href="{% url 'fileboxes:filebox-delete' project=project.sodar_uuid filebox=item.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:close-thick"></i>
      Delete
    </a>
  </div>
</div>
