{% extends "projectroles/base.html" %}

{% block navi_sub_project_extend %}
  <li class="breadcrumb-item active">File Boxes</li>
{% endblock %}

{% block title %}
  File Boxes in {{ project.title }}
{% endblock title %}

{% block projectroles %}
  <div id="ajax-form-errors"></div>

  <div class="row sodar-pr-content-title pb-2">
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}

    <h2 class="sodar-pr-content-title">
      File Boxes
      <span class="badge badge-secondary">
        {{ page_obj.paginator.count }}
      </span>
    </h2>
    {% include "fileboxes/_filebox_list_buttons.html" %}
  </div>

  <div class="container-fluid sodar-page-container">
    {% include "fileboxes/_filebox_table.html" %}
  </div>

{% endblock %}
